html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

a, h1, h2, h3, h4, h5, p, span, button, label, div {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.searchInput {
    width: 15rem;
}

.topPanel {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    padding: 0 22%;
}

.table__header, .table__item{
    display: flex;
    justify-content: space-around;
}

.table__field {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header__field{
    cursor: pointer;
}

.procentalLink{
    color: black;
    text-decoration: none;
}

.dataTable {
    -webkit-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);

}

.table__item:nth-child(2n){
    background-color: #1B2A38;
    color: white;
}

.item__controlPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item__controlPanel > button{
    height: 80%;
}

.item__controlPanel .item__edit{
    color: black;
    text-decoration: none;
}

.table__item:nth-child(2n) .item__controlPanel .item__edit{
    color: white;
}

.addCandidateBox{
    width: 100%;
}

.createPanel > button {
    background-color: #0078D7;
    color: white;
    border: none;
    width: 14rem;
    height: 1.5rem;
}

.opacityWindow{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.opacityWindow{
    display: none;
}

.createPartyBox, .createCandidateBox{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #232327;
    color: white;
    padding: 1rem;
    text-align: center;
    display: none;
}

.createCandidateBox input, .createCandidateBox select {
    display: block;
}

.createPartyBox .formSubmit{
    display: block;
    margin: 1rem auto 0 auto;
}

.boxTop{
    position: relative;
}

.boxClose{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    cursor: pointer;
}